* {
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #FEE11A;
  color: #007030;
}
header, footer{
  max-width: 1600px;
  margin: 3rem auto 0;
  padding: 1rem;
  display: flex
}
/* Header */
#siteLogo {
  height: 5rem;
  z-index: 2;
  grid-area: 1/1/2/2;
  justify-self: right;
  align-self: bottom;
}
h1 {
  font-size: 5rem;
  grid-area: 1/2/2/3;
  display: flex;
  align-items: flex-end;
}

/* Main */
main {
  max-width: 1600px;
  background-color: rgba(250, 235, 215, 0.85);
  margin: auto;
  display: grid;
  grid-template: auto 2rem auto/16rem 1fr 16rem;
}
/* Product Display */
#displayContainer {
  grid-area: 1/2/3/4;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center; 
}
#displayContainer img {
  width: 420px;
  max-height: 26rem;
  border: 5px solid transparent;
}
#displayContainer img:hover {
  border: 5px solid #007030;
  cursor: pointer;
}
#displayContainer.no-voting img:hover {
  border: 5px solid transparent;
  cursor: auto;
}
#displayContainer figcaption {
  text-align: center;
}
/* Data Display */
#resultButton {
  grid-area: 2/1/3/2;
}
#resetButton {
  grid-area: 2/3/3/4;
}
#tableContainer {
  grid-area: 1/1/2/2;
}
table {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
}
td, th {
  border: 2px slategray solid;
  padding: .5em;
  text-align: right;
}
#chartContainer {
    grid-area: 3/1/4/4;
    padding: 1rem;
}
